@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,300;1,400&family=Source+Code+Pro&display=swap');

#css-zen-garden{
    background-color: rgb(218, 232, 248);
    font-family: 'Montserrat', sans-serif;
    margin: -10px 0px;
}
.title{
    font-size: 80px;
    font-weight: lighter;
}
.heading{
    font-size: 50px;
}
.subheading{
    font-size: 40px;
}

.banner{
    width: 100vw;
    height: 100%;
    text-align: center;
    padding-top: 40vh;
    padding-bottom: 40vh;
    background-color: rgb(127, 140, 255);
}
.banner h1{
    font-size: 80px;
}

.beauty, .explanation, .preamble, .participation, .benefits, .requirements{
    width: 100vw;
    height: 100%;
    text-align: center;
    padding-top: 40vh;
    padding-bottom: 40vh;
      
}
.beauty{
    background-color: aquamarine;  
}
.explanation{
    background-color: burlywood;
}
.preamble{
    background-color: rgb(255, 127, 148);    
}
.participation{
    background-color: rgb(210, 255, 127);  
} 
.benefits{
    background-color: rgb(255, 168, 127);  
}
.requirements{
    background-color: rgb(255, 127, 148);  
}

p{
    width: 65%;
    margin-left: 15%;
}

.source_link{
    text-decoration: none;
    background-color: rgb(127, 140, 255);
    color: white;
}

.footer{
    background-color: rgb(0, 0, 0);
    text-decoration: none;
    color: white;
}
.design-selection, .design-archives, .zen-resources{
    display:inline-flex;
    margin: 50px;
    width: 25%;
    float: left;

}
.footer li{
    list-style-type: none;
    padding-bottom: 20px;
}
.footer li a{
    text-decoration: none;
    color: white;
}
.footer li a:hover{
    text-decoration: none;
    color: rgb(247, 222, 0);
}
.select{
    margin-top: 0px;
}